<<<<<<< Updated upstream
=======
label {
  text-align: right;
  width: 6em;
  margin-bottom: 0.5em;
}

input[type="text"] {
  width: 15em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
<<<<<<< HEAD
=======

>>>>>>> ce072ad4e47e7c3a8c507649ca849928d32e1429
>>>>>>> Stashed changes
