<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha384-..." crossorigin="anonymous">
    <title>{{ pageTitle }}</title>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/about">About</a>
    </nav>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" id="flash">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="container">
            {% block body %}
            xx
            {% endblock %}
        </div>
    </div>
    <!--Popper.min.js and bootstrap.min.js are needed for functionality such as modals and alerts-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"
        integrity="sha384-..." crossorigin="anonymous"></script>
    <!--Allow the user to click anywhere in the alert box to dismiss the alert-->
    <script>
        function removeFlash() {
            const element = document.getElementById("flash");
            element.remove();
        }
    </script>
    <!--If the user doesn't click to dismiss the alert box in 4 seconds it will automatically disappear-->
    <script>
        window.setTimeout(function () {
            document.getElementById("flash").style.display = "none";
        }, 4000);
    </script>
</body>

</html>


