{% extends 'base.html' %}
{% block body %}
<html>
<head>
  <meta charset="utf-8">
  <title>My Library</title>
<h2 class="text-primary">Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="Title" class="form-label">Title:</label>
      <input type="text" id="Title" name="title" class="form-control" />
    </p>
    <p>
      <label for="Author" class="form-label">Author:</label>
      <input type="text" id="Author" name="author" class="form-control" />
    </p>
    <p>
      <label for="Pages" class="form-label">Pages:</label>
      <input type="text" id="Pages" name="pages" class="form-control" />
    </p>

    <p>
      <label class="form-label">Classification: </label>
      <div class="form-check" >
        <input
          type="radio"
          id="fiction"
          name="classification"
          value="fiction"
          class="form-check-input"
          required
        />
        <label for="fiction" class="form-check-label">Fiction</label>
      </div>

      <div class="form-check">
        <input
          type="radio"
          id="non-fiction"
          name="classification"
          value="non-fiction"
          class="form-check-input"
        />
        <label for="non-fiction" class="form-check-label">Non-Fiction</label>
      </div>
    </p>

    <fieldset>
      <legend class="mt-3">Details</legend>
      <br>
      <div class="form-check">
        <input
          type="checkbox"
          id="for-own"
          name="details"
          value="Own"
          class="form-check-input"
        />
        <label for="for-own" class="form-check-label">I own this book</label>
      </div>

      <br>
      <br>

      <div class="form-check">
        <input
          type="checkbox"
          id="for-read"
          name="details"
          value="Read"
          class="form-check-input"
        />
        <label for="for-read" class="form-check-label">I've read this book</label>
      </div>

      <br>
      <br>

      <div class="form-check">
        <input
          type="checkbox"
          id="for-liked"
          name="details"
          value="Liked"
          class="form-check-input"
        />
        <label for="for-liked" class="form-check-label">I liked this book</label>
      </div>

      <br>
      <br>

      <div class="form-check">
        <input
          type="checkbox"
          id="for-recommend"
          name="details"
          value="Recommend"
          class="form-check-input"
        />
        <label for="for-recommend" class="form-check-label">I would recommend this book to others</label>
      </div>
      <br>
    </fieldset>

    <p>
      <label for="acquisition" class="form-label">How did I get this book?</label>
      <select name="acquisition" id="acquisition" class="form-select" required>
        <option value="" selected>- Select Option -</option>
        <option value="I purchased it.">I purchased it.</option>
        <option value="It was a gift.">It was a gift.</option>
        <option value="I checked it out from the library.">I checked it out from the library.</option>
        <option value="A friend loaned it to me.">A friend loaned it to me.</option>
      </select>
    </p>

    <p><input type="submit" id="submit" value="Add Book" class="btn btn-primary" /></p>


  </form>

  <br /><br />
  {% if friends %}
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.title }}</td>
        <td>{{ friend.author }}</td>
        <td>{{ friend.pages }}</td>
        <td>{{ friend.classification }}</td>
        <td>{{ friend.details }}</td>
        <td>{{ friend.acquisition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}

