{% extends 'base.html' %} {% block body %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="Title">Title:</label>
      <input type="text" id="Title" name="title" />
    </p>
    <p>
      <label for="Author">Author:</label>
      <input type="text" id="Author" name="author" />
    </p>
    <p>
      <label for="Pages">Pages:</label>
      <input type="text" id="Pages" name="pages" />
    </p>

    <p>
      <label>Classification: </label>
      <label for="fiction">
        <input
          type="radio"
          id="fiction"
          name="classification"
          value="fiction"
        />
        Fiction
      </label>

      <label for="non-fiction">
        <input
          type="radio"
          id="non-fiction"
          name="classification"
          value="non-fiction"
        />
        Non-Fiction
      </label>
    </p>

    <fieldset>
      <legend>Details</legend>
      <br>
      <label for="for-own">
        <input
          type="checkbox"
          id="for-own"
          name="details"
          value="Own"
        />
        I own this book
      </label>

      <br>
      <br>

      <label for="for-read">
        <input
          type="checkbox"
          id="for-read"
          name="details"
          value="Read"
        />
        I've read this book
      </label>

      <br>
      <br>

      <label for="for-liked">
        <input
          type="checkbox"
          id="for-liked"
          name="details"
          value="Liked"
        />
        I liked this book        
      </label>

      <br>
      <br>

      <label for="for-recommend">
        <input
          type="checkbox"
          id="for-recommend"
          name="details"
          value="Recommend"
        />
        I would recommend this book to others
      </label>
      <br>
    </fieldset>

    <p>
      <label for="acquisition">
        How did I get this book?
        <select name="acquisition" id="ice-cream" > 
          <option value="" selected>- Select Option -</option>
          <option value="I purchased it.">I purchased it.</option>
          <option value="It was a gift.">It was a gift.</option>
          <option value="I checked it out from the library.">I checked it out from the library.</option>
          <option value="A friend loaned it to me.">A friend loaned it to me.</option>
        </select>
      </label>
    </p> 

    <p><input type="submit" id="submit" value="Add Book" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Acquisition</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.title }}</td>
        <td>{{ friend.author }}</td>
        <td>{{ friend.pages }}</td>
        <td>{{ friend.classification }}</td>
        <td>{{ friend.details }}</td>
        <td>{{ friend.acquisition }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}

