{% extends 'base.html' %} {% block body %}
<h2>Add a book to my library</h2>
<hr />
<main>
  <form action="/add" method="POST">
    <p>
      <label for="Author">Title:</label>
      <input type="text" id="first-name" name="fname" />
    </p>
    <p>
      <label for="Author">Author:</label>
      <input type="text" id="first-name" name="fname" />
    </p>
    <p>
      <label for="Author">Pages:</label>
      <input type="text" id="first-name" name="fname" />
    </p>

    <p>
      <label>Classification: </label>
      <label for="read-yes">
        <input
          type="radio"
          id="read-yes"
          name="read"
          value="yes"
          required="required"
        />
        Fiction
      </label>

      <label for="read-no">
        <input
          type="radio"
          id="read-no"
          name="read"
          value="no"
          required="required"
        />
        Non-Fiction
      </label>
    </p>

    <fieldset>
      <legend>Details</legend>
      <br>
      <label for="for-running">
        <input
          type="checkbox"
          id="for-running"
          name="activities"
          value="running"
        />
        I own this book
      </label>

      <br>
      <br>

      <label for="for-biking">
        <input
          type="checkbox"
          id="for-biking"
          name="activities"
          value="biking"
        />
        I've read this book
      </label>

      <br>
      <br>

      <label for="for-reading">
        <input
          type="checkbox"
          id="for-reading"
          name="activities"
          value="reading"
        />
        I liked this book        
      </label>

      <br>
      <br>

      <label for="for-reading">
        <input
          type="checkbox"
          id="for-reading"
          name="activities"
          value="reading"
        />
        I would recommend this book to others
      </label>
      <br>
    </fieldset>

    <p>
      <label for="ice-cream">
        How did I get this book?
        <select name="flavor" id="ice-cream" required>
          <option value="" selected>- Select Option -</option>
          <option value="vanilla">I purchased it.</option>
          <option value="chocolate">It was a gift.</option>
          <option value="swirl">I checked it out from the library.</option>
          <option value="chocolate">A friend loaned it to me.</option>
        </select>
      </label>
    </p>  

    <p><input type="submit" id="submit" value="Add Book" /></p>
  </form>

  <br /><br />
  {% if friends %}
  <h3>List of books</h3>
  <hr />
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Classification</th>
        <th>Details</th>
        <th>Aquisition</th>
      </tr>
    </thead>

    <tbody>
      {% for friend in friends %}
      <tr>
        <td>{{ friend.name }}</td>
        <td>{{ friend.flavor }}</td>
        <td>{{ friend.read }}</td>
        <td>{{ friend.activities }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</main>
{% endblock %}
